# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/
